html {
    background-color: black;
}

p {
    text-align: center;
}

body {
    opacity: 1;
    transition: .5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

div {
    border-radius: 10px;
    background-color: rgb(186, 207, 247);
    padding: 50px;
    width: 50%;
    margin: auto;
}

#keyframe {
    width: 1px;
    height: 1px;
    border: 1px solid red;
    border-radius: 50%;
    margin: 30px auto;
    background: lightblue;
    position: relative;
    animation: separator 5s infinite;
}

@keyframes separator {
    0% {left: -60%}
    50% {left: 60%}
    100% {left: -60%}
}

input[type=text] {
    width: 100%; /*try and center the box @ 75% when you have time*/
    padding: 15px 15px;
    margin: 10px 0; /*space between boxes vertically first, and to the left second*/
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    display: block;
    background-color: darkblue;
    color: white;
    margin: 15px auto;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lure {
    color: white;
}

.open-btn {
    display: block;
    background-color: darkblue;
    color: white;
    margin: auto;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup-form {
    display: none;
    z-index: 9;
    margin: 15px auto;
}
.btn {
    background-color: white;
    margin: auto;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btnclose {
    background-color: red;
    margin: auto;
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

